* {
    box-sizing: border-box;
    margin: 0px;
    top: 0px;
    font-family: Roboto, Arial, sans-serif;
    font-size: 14px;
}

a {
    text-decoration: none;
}

body {
    display: grid;
    width: 100vw;
    grid-template-columns: 13% 87%;
    grid-template-rows: 56px 56px 100%;
    background-color: #0F0F0F;
}

/*BARRA DE NAVEGACION*/

nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #0F0F0F;
    justify-content: space-between;
    height: 56px;
    width: 100%;
    padding: 0 16px;
    grid-area: 1 / 1 / 3 / 3;
    position: fixed;
    z-index: 3;
    left: 0%;
    top: 0%;
}

.grupo-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;

}

.grupo-nav div {
    display: flex;
    padding: 8px;
    height: 100%;
}

.grupo-nav img {
    height: 100%;
}

.boton-circular {
    border-radius: 50%;
}

.boton-circular:hover,
#microfono:hover {
    background-color: #272727;
    cursor: pointer;
}

/*#grupo-izquierda {

}*/

#grupo-derecha {
    min-width: 225px;
    justify-content: flex-end;
    margin-right: 16px;
}

#grupo-centro {
    width: 40%;
}

#iconoYoutube {
    padding: 9px 16px;
}

#microfono {
    background-color: #181818;
}

#perfilUsuario {
    padding: 0;
    overflow: hidden;
    width: 32px;
    height: 32px;
}

#barra-busqueda {
    display: flex;
    width: 80%;
    padding: 0;
}

#buscador {
    display: flex;
    background-color: #121212;
    width: 100%;
    height: 100%;
    border: 1px solid #222;
    border-left: none;
    border-right: 1px solid transparent;
    padding: 6px;
}

#pre-buscador {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    background-color: #121212;
    width: 50px;
    height: 100%;
    border: 1px solid #222;
    border-right: none;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    left: 20px;
}

#pre-buscador img {
    width: 18px;
    height: 18px;
}

#post-buscador {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #272727;
    width: 76px;
    height: 100%;
    border: 1px solid #222;
    border-left: none;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    margin-right: 8px;
}

#post-buscador a>img {
    width: 23px;
    height: 23px;
}

#buscador input {
    box-sizing: border-box;
    width: 100%;
    height: 26px;
    background: none;
    border: none;
    padding: 1px 0;
    outline: none;
    margin: 0;
    font-family: Roboto, Noto, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: #FFF;
    z-index: 1;
}


#buscador input::placeholder {
    font-family: Roboto, Noto, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: #8b8b87;
}

#lupa {
    background-color: #272727;
}

#grupo-derecha div {
    margin: 0 8px;
}

#barra-busqueda:focus-within #pre-buscador {
    border-color: #065fd4;
    left: 0px;
}

#barra-busqueda:focus-within #buscador {
    border-color: #065fd4;
}

#barra-busqueda #pre-buscador>img {
    visibility: hidden;
}

#barra-busqueda:focus-within #pre-buscador>img {
    visibility: visible;
}

/* RECOMENDADOS*/

#recomendados {
    display: flex;
    background-color: #0F0F0F;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 2;
    left: 13%;
    top: 56px;
    height: 56px;
}

#recomendados div {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 34px;
    margin: 12px 12px 12px 0px;
    border-radius: 5px;
    padding: 0 12px;
    background-color: #222;
    color: white;
    border: none;
}

/*div#todo {
    margin-left: 24px;
    background-color: #f1f1f1;
    color: black;
}*/

#recomendados a:first-child div {
    margin-left: 24px;
    background-color: #f1f1f1;
    color: black;
}

/*#recomendados a:nth-of-type(1) div {
    margin-left: 24px;
    background-color: #f1f1f1;
    color: black;
} ESTO HACE LO MISMO QUE EL DE ARRIBA*/

#recomendados div:hover {
    background-color: #3f3f3f;
    transition: background-color 0.3s;
}

div#todo:hover {
    background-color: white;
    transition: background-color 0.3s;
}

div#siguiente {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #0F0F0F;
}

div#siguiente img {
    width: 24px;
    height: 24px;
}

div#siguiente:hover {
    background-color: #3f3f3f;
    transition: background-color 0.3s;
}

/* ASIDE - BARRA LATERAL */

aside {
    display: flex;
    position: fixed;
    /* Esto es porque no quieres que haga scroll con el scroll principal (del main)*/
    top: 56px;
    flex-direction: column;
    grid-column: 1 / 2;
    grid-row: 2/4;
    padding: 12px;
    overflow: hidden;
    width: 13%;
    height: 100vh;
}

aside:hover {
    overflow-y: overlay;
    /*Ha sido deprecado*/
}

aside .boton-lateral {
    display: flex;
    align-items: center;
    color: white;
    width: 92%;
    height: 40px;
    border-radius: 10px;
    background-color: #0F0F0F;
    padding: 0 12px;
    color: #f1f1f1;
    font-size: 16px;
    font-weight: 400;
}

.boton-lateral p {
    white-space: nowrap;
    /*Esto es para que cuando venga line break, no haga wrap */
    overflow: hidden;
    text-overflow: ellipsis;
}



aside .boton-lateral.activo {
    background-color: #222;
    font-weight: 500;
}

aside .boton-lateral img {
    width: 24px;
    height: 24px;
    margin-right: 24px;
}

.perfil-suscripcion {
    padding: 0;
    overflow: hidden;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    margin-right: 24px;
}

.perfil-suscripcion + p {
    max-width: 64%;
}

.online {
    color: #4a92f0;
    font-size: 18px;
    margin-left: auto;
}

aside .boton-lateral:hover {
    background-color: #222;
}

aside .boton-lateral.activo:hover {
    background-color: #3f3f3f;
}

aside hr {
    border: none;
    height: 1px;
    background-color: #3f3f3f;
    margin: 12px 6px;
}

h3 {
    padding: 6px 12px;
    color: #f1f1f1;
    font-size: 16px;
    line-height: 22px;
    font-weight: 400;
}

.links,
.firma {
    padding: 12px 12px 0 12px;
}

.links a {
    margin: 0 8px 0 0;
    font-size: 13px;
    font-weight: 500;
    color: #AAA;
    line-height: 18px;
}

.firma {
    font-size: 13px;
    color: #555;
    margin-bottom: 60px;
}

/* VIDEOS */

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    grid-column: 2 / 3;
    grid-row: 3/4;
    width: 87%;
    position: absolute;
    top: 112px;
    left: 13%;
}

.videos {
    display: grid;
    width: 90%;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 18px;
    row-gap: 28px;
    padding-top: 24px;
}

.contenedor-video {
    background-color: #0F0F0F;
}

.imagen-video img {
    width: 100%;
    border-radius: 10px;
}

.detalles-video {
    display: grid;
    grid-template-columns: 12% 88%;
    margin-top: 10px;
    gap: 6px;
}

.perfil-canal {
    padding: 0;
    overflow: hidden;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    margin: 0 auto;
}

.perfil-canal img {
    width: inherit;
    height: inherit;
}

.info-video {
    width: 100%;
}

.titulo-video {
    display: flex;
    justify-content: space-between;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-bottom: 8px;
}

.titulo-video p {
    font-size: 16px;
    line-height: 22px;
    font-weight: 500;
    overflow: hidden;
    max-height: 44px;
    color: #f1f1f1;
}

.opcion-video img{
    width: 24px;
    height: 24px;
    visibility: hidden;
}

.line-clamp {
    -webkit-line-clamp: 2;
    /*Trunca texto en un numero especifico de lineas*/
    display: -webkit-box;
    display: box;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    /*Esto hay que hacerlo A JURO. No funciona de otra manera. Es para que los titulos de Youtube tengan dos lineas y luego terminen en puntos
    suspensivos. https://css-tricks.com/line-clampin/ */
}

.nombre-canal,
.metadata {
    color: #AAA;
    font-size: 14px;
}

.nombre-canal {
    display: block;
    margin-bottom: 4px;
}

.divisor {
    border: 2px solid #3f3f3f;
    width: 90%;
    margin: 20px 0;
}

.contenedor-video:hover {
    transform: scale(115%);
    border-radius: 10px;
    background-color: #3f3f3f;
    transition: transform 0.3s;
}

.contenedor-video:hover .detalles-video {
    transform: scale(95%);
    transition: transform 0.3s;
}

.contenedor-video:hover .opcion-video img{
    visibility: visible;
}

/* Barra de scroll*/

/* Width */
::-webkit-scrollbar {
    width: 14px;
    height: 0;
}

/* Track del Scroll */
::-webkit-scrollbar-track {
    background: #0F0F0F;
}

/* Barra de Scroll */
::-webkit-scrollbar-thumb {
    background-color: #aaaaaa;
    border-radius: 8px;
    border: 3px #0F0F0F solid;
    background-clip: padding-box;
}

/*Color cuando se selecciona*/
::-webkit-scrollbar-thumb:hover {
    background: #717171;
}


/* Tooltips */

.tooltip {
    position: relative;
}

.tooltip .tooltiptext {
    visibility: hidden;
    padding: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Roboto, Arial, sans-serif;
    font-size: 12px;
    height: 35px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    position: absolute;
    width: 90px;
    top: 125%;
    bottom: 100%;
    left: 50%;
    margin-left: -45px;
    opacity: 0;
    transition: opacity 0.3s;
}


.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 0.9;
}